@model IEnumerable<HR.DAL.DbLayer.JobTitle>

@{
    ViewBag.Title = "Должности";
}

<h2>Должности</h2>

<p>
    @Html.ActionLink("Новая Должность", "Edit", null,
                new { id="btnCreate", @class="btn btn-warning btn-sm"}
    )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameJobTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameJobTitle)
            </td>
            <td>
                @Html.ActionLink("Корректировать", "Edit", new { id = item.JobTitleId }) 

              
                @Html.ActionLink("Удалить", "Delete", new { id = item.JobTitleId })
            </td>
        </tr>
    }

</table>
